/* General styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--bg);
}
a {
  text-decoration: none;
}

:root{
  --green: #8D9F8F;
  --light-gray: #C8CECE;
  --gray: #919392;
  --dark-gray: #5C5E5D;
  --text-gray: #515251;
  --bg: #EBF2F2;
  --logo: 136px;
  --logoMobile: 50px;
  --nav: 33px;
  --contact-border: #E2D6C6;
  --font: 'Cormorant Infant', serif;
}

/* Topbar and menu */
.top-bar{
  height: var(--logo);
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green);
}

.top-bar__logo{
  font-family: var(--font);
  font-size: 85px;
  color: white;
  letter-spacing: 5px;
  font-weight: 300;
}

.top-bar__desktop-nav{
  width: 100%;
  height: var(--nav);
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  background: var(--light-gray);
}

.desktop-nav__item{
  font-size: 21px;
  border-right: 1px solid var(--dark-gray);
  padding-right: 20px;
}

.desktop-nav__item:last-of-type{
  border-right: none;
}

.desktop-nav__item a{
  color:var(--dark-gray);
  transition: color 0.3s;
}

.desktop-nav__item a:hover{
  color: var(--green);
}

/* Hero */
.hero{
  width: 100%;
  height: calc(100vh - var(--logo) - var(--nav)) ;
  position: relative;
}
.hero__shape-right{
  position: absolute;
  right: 0;
  height: calc(100vh - var(--logo) - var(--nav)) ;
}
.hero__shape-left{
  position: absolute;
  left: 0;
  height: 360px;
}

.hero__info{
  width: 77%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 0 0;
}

.intro{
  position: relative;
  font-family: var(--font);
  line-height: 0.9;
  text-transform: uppercase;
}
.intro__name{
  font-size: 90px;
  position: relative;
  right: 80px;
  top:8px
}
.intro__name::after{
  content: '';
  display: block;
  width: 155px;
  height: 2px;
  transform: translate(430px, -13px);
  background: var(--gray);
}
.intro__surname{
  font-size: 105px;
}
.intro__name,.intro__surname{
  color: var(--gray);
  font-weight: 300;
}

.info__p{
  display: flex;
  margin: 30px 0 0 0;
  font-size: 20px;
}
.p-left{
  max-width: 316px;
  position: relative;
  margin: 20px 40px 0 0;
  text-align: right;
  font-weight: 700;
}

.p-right{
  max-width: 345px;
  margin: 70px 0 0 0;
}
.p-right,.p-left{
  line-height: 1.25;
  color: var(--text-gray)
}

/* Contact */
.contact-container{
  position: relative;
  min-height: calc(100vh - var(--logo) - var(--nav));
  background: var(--bg);
  overflow: hidden;

}
.contact-shape{
  position: absolute;
  bottom: 0;
  height:90%
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 60px 0 0 0;
  color: var(--dark-gray);

}
.contact__map{
  width: 430px;
  height: 430px;
  border: 25px solid var(--contact-border);
}

.contact__info{
  margin: 0 0 217px 50px;
}
.contact__info-title{
  font-family: var(--font);
  font-weight: 400;
  font-size: 36px;
  position: relative;
  margin: 0 0 20px 0;
}
.contact__info-title::after{
  content: '';
  height: 1px;
  width: 150px;
  background: var(--dark-gray);
  position: absolute;
  bottom: 0;
  left: 7px;
}

.contact__info-p{
  font-size: 19px;
  margin: 0 0 10px 0;
}
.contact__info-p:nth-of-type(5){
  margin: 0;
}
.contact__info-shape{
  width: 15px;
  height: 15px;
  margin: 0 0 10px 0;
  border-radius: 50%;
  background: var(--gray);
}

.contact__social{
  display: flex;
  margin: 284px 0 0 10%;
}
.contact__social a{
  width: 120px;
  border-radius: 50%;
}
.contact__social a img{
  width: 100%;
  border-radius: 50%;
  transition: transform 0.3s;
}
.contact__social a img:hover{
  transform: rotate(30deg);
}

.top-bar__mobile, .hero__shape-mobile, .hero__mobile-logo, .mobile-contact-shape{
  display: none;
}



/* RWD */

@media (max-width:1549px){
  .intro__name{
    font-size: 60px;
  }
  .intro__surname{
    font-size: 65px;
  }
  .intro__name::after{
    width: 100px;
    transform: translate(300px, -13px);
  }
  .hero__shape-right {
    height: 70%;
  }
  .hero__shape-left {
    height: 40%;
  }
}
@media (max-width:767px){
  .hero__shape-right, .hero__shape-left, .top-bar__desktop-nav, .top-bar__logo{
    display: none;
  }

  /* TOPBAR AND MENU */

  .top-bar__mobile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .top-bar{
    height: var(--logoMobile);
    position: fixed;
  }
  .hero__mobile-logo{
    display: block;
  }
  .mobile__hamburger{
    width: 20px;
    height: 20px;
    margin: 0 25px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .mobile__checkbox{
    width: 20px;
    height: 20px;
    margin: 0 -20px 0 0;
    opacity: 0;
    z-index: 101;
    cursor: pointer;
  }
  .hamburger__line{
    width: 100%;
    height: 2px;
    background: white;
    transition: 0.3s;
  }
  .mobile__hamburger.active .hamburger__line-top{
    transform: translate(0, 9px) rotate(45deg);
  }
  .mobile__hamburger.active .hamburger__line-mid{
    opacity: 0;
  }
  .mobile__hamburger.active .hamburger__line-bottom {
    transform: translate(0, -9px) rotate(-45deg);
  }
  .mobile__menu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    gap: 15px;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--green);
    transform: translateX(100%);
    transition: 0.3s;
    z-index: -1;
  }
  .mobile__menu.active{
    transform: translateX(0);
  }
  .menu__cross{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 100
  }
  .menu__mobile-nav{
    list-style: none;
    text-align: center;
  }
  .mobile-nav__item{
    margin: 0 0 20px 0;
  }
  .menu__mobile-nav a{
    color: #fff;
    font-size: 23px;
    transition: 0.3s color;
  }
  .menu__mobile-nav a:hover{
    color: var(--dark-gray)
  }
  .menu__shape{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E2D6C6;
  }
  .menu__logo{
    max-width: 197px;
    margin: 20px 0 0 0;
    text-align: center;
    font-family: var(--font);
    font-weight: 300;
    font-size: 43px;
    color: #fff;
  }

  /* NATALIA  */
  .hero__shape-mobile{
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
    padding: 50px 0 0 0;
  }
  .hero__info{
    width: 100%;
  }
  .intro{
    line-height: 1;
    margin: 33% 50% 0 0;
  }
  .intro__name, .intro__surname{
    color: white;
    text-transform: initial;
  }
  .intro__name{
    font-size: 30px;
    top:0;
    right: 0;
  }
  .intro__name::after{
    width: 40px;
    height: 1px;
    background: white;
    transform: translate(26px, 3px);
  }
  .intro__surname{
    font-size: 35px;
  }
  .hero__mobile-logo{
    margin: 0 0 0 14%;
    padding: 70px 0 0 0;
    position: relative;
    line-height: 1;
    letter-spacing: 2px;
  }
  .mobile-logo__first, .mobile-logo__second{
    font-weight: 400;
    font-family: var(--font);
    font-size: 40px;
    position: relative;
    color: var(--dark-gray)
  }
  .mobile-logo__first{
    right: 25px;
  }
  .info__p{
    margin: 360px 0 0 0;
    flex-direction: column;
  }
  .p-right, .p-left{
    text-align: justify;
    margin: 0 20px ;
    max-width: none;
  }
  .p-right{
    margin-bottom: 40px;
  }
  .p-shape{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--green);
    margin: 20px auto;
  }

  /* CONTACT */
  .contact-shape{
    display: none;
  }
  .mobile-contact-shape{
    display: block;
  }
  .mobile-contact-shape{
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    position: absolute;
  }
  .contact{
    flex-direction: column;
  }
  .contact__map{
    order: 2;
    width: 400px;
    height: 400px;
    border: 20px solid var(--contact-border);
  }
  .contact__info{
    order: 1;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .contact__social{
    order: 3;
    margin: 20px 0 40px 0;
  }
  .contact__social a{
    width: 100px;
  }
  .contact__info-shape{
    margin: 10px auto;
  }
  .contact__info-shape:nth-last-of-type(3){
    background: var(--green);
  }
}
@media (max-width:420px){
  .contact__map{
    width: 270px;
    height: 270px;
    border: 10px solid var(--contact-border);
  }
  .contact__social a{
    width: 60px;
  }
}